<aside class="aside">
   <div class="aside__chat chat">
      <div class="chat__head">
         <img class="chat__qr" widht="200" height="200" src="./img/svg/qr.svg" alt="QR-code" />
         <div class="chat__label">
            Сканируй QR и отправь на экран
            <div class="chat__variations">
               <span class="chat__variation active">сообщение...</span>
               <span class="chat__variation">video...</span>
               <span class="chat__variation">фото...</span>
               <span class="chat__variation">поздравление...</span>
            </div>
         </div>
      </div>
      <h2 class="chat__title">Гости <span class="chat__subtitle--accent">Harat’s Irish Pub</span> говорят:</h2>
      <ul class="chat__list list-reset">
         <li class="chat__item active">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-01.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Антон Городецкий</div>
                  <div class="chat__meta">Прислал фото сегодня 19:08</div>
               </div>
               <div class="chat__money">1 300 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Рузмановы (дачники в панамках или просто душнилы) тоже передают всем привет!! Алёна тебе тоже хэлоу</p>
               <img class="chat__image" width="80" height="108" src="./img/image-01.png" alt="Фото" />
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-02.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Astamariy</div>
                  <div class="chat__meta">Сегодня в 19:00</div>
               </div>
               <div class="chat__money">50 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Ян Барсик передаёт привет всем, кто еще вменяем</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-03.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Fan</div>
                  <div class="chat__meta">15 августа в 15:35</div>
               </div>
               <div class="chat__money">300 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Interius you are the best! 🥰🥰🥰</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-04.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">SHreK</div>
                  <div class="chat__meta">10 августа в 14:03</div>
               </div>
               <div class="chat__money">666 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Angry ants, thank you! ❤️❤️❤️</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-02.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Astamariy</div>
                  <div class="chat__meta">5 августа в 23:23</div>
               </div>
               <div class="chat__money">50 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Тут должно было быть тестовое сообщение из 7 строк, но что-то пошло не так, и оно получилось всего из 3 ...</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-03.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Fan</div>
                  <div class="chat__meta">15 августа в 15:35</div>
               </div>
               <div class="chat__money">250 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Hey everyone11! 🥰</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-03.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Fan</div>
                  <div class="chat__meta">15 августа в 15:35</div>
               </div>
               <div class="chat__money">250 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Hey everyone11! 🥰</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-03.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Fan</div>
                  <div class="chat__meta">15 августа в 15:35</div>
               </div>
               <div class="chat__money">250 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Hey everyone11! 🥰</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-03.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Fan</div>
                  <div class="chat__meta">15 августа в 15:35</div>
               </div>
               <div class="chat__money">250 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Hey everyone11! 🥰</p>
            </div>
         </li>
         <li class="chat__item">
            <div class="chat__info">
               <img class="chat__avatar" width="40" height="40" src="./img/avatar-03.png" alt="Аватар" />
               <div class="chat__person">
                  <div class="chat__name">Fan</div>
                  <div class="chat__meta">15 августа в 15:35</div>
               </div>
               <div class="chat__money">250 ₽</div>
            </div>
            <div class="chat__content">
               <p class="chat__text">Hey everyone11! 🥰</p>
            </div>
         </li>
      </ul>
   </div>
</aside>
