<header class="header">
   <div class="header__container container">
      <div class="header__wrapper">
         <div class="header__ranking">
            <div class="header__top">
               <h1 class="header__title">Топ</h1>
               <div class="header__state">
                  <div class="header__period active">День</div>
                  <div class="header__period">Неделю</div>
               </div>
            </div>
            <div class="header__places">
               <ul class="header__list list-reset active">
                  <li class="header__item">
                     <div class="header__name">Евгений Н.</div>
                     <div class="header__money">22 700 ₽</div>
                  </li>
                  <li class="header__item">
                     <div class="header__name">Анастасия К.</div>
                     <div class="header__money">17 300 ₽</div>
                  </li>
                  <li class="header__item">
                     <div class="header__name">Александр Ж.</div>
                     <div class="header__money">8 650 ₽</div>
                  </li>
               </ul>
               <ul class="header__list list-reset">
                  <li class="header__item">
                     <div class="header__name">Евгений Н.</div>
                     <div class="header__money">220 700 ₽</div>
                  </li>
                  <li class="header__item">
                     <div class="header__name">Анастасия К.</div>
                     <div class="header__money">170 300 ₽</div>
                  </li>
                  <li class="header__item">
                     <div class="header__name">Александр Ж.</div>
                     <div class="header__money">80 650 ₽</div>
                  </li>
               </ul>
            </div>
         </div>
         <div class="header__marquee marquee3k" data-speed="2" data-duration="10">
            <div class="header__line">
               <div class="header__text">⚡ ❤️ ⚡ Новая функция – отправь свою фотографию на этот экран! Сканируй QR-код 😉</div>
            </div>
         </div>
      </div>
   </div>
</header>
