<div class="modal">
   <div class="modal__container">
      <div class="modal__top">
         <div class="modal__head">
            <img class="modal__avatar" width="160" height="160" src="./img/msg-avatar.png" alt="Аватар" />
            <div class="modal__name">Антон Городецкий</div>
            <div class="modal__money">+ 50 ₽</div>
         </div>
      </div>
      <div class="modal__message">Здарова, ребятушки! А вот и я со своей братвой. Смотрите какие гарны хлопцы. Здарова, ребятушки! А вот и я со своей братвой. Смотрите какие гарны хлопцы.</div>
   </div>
</div>
