<div class="gallery">
   <div class="gallery__swiper">
      <div class="gallery__slide">
         <div class="gallery__content">
            <div class="gallery__poster" style="background-image: url(./img/image-01.png)"></div>
            <img class="gallery__image" width="588" height="784" src="./img/image-01.png" alt="Фото" />
         </div>
         <div class="gallery__message">
            <div class="gallery__head">
               <img width="144" height="144" src="./img/avatar-01.png" alt="Аватар" class="gallery__avatar" />
               <div class="gallery__money">500 500 ₽</div>
            </div>
            <div class="gallery__body">
               <div class="gallery__name">Антон Городецкий</div>
               <div class="gallery__text">Рузмановы (дачники в панамках или просто душнилы) тоже передают всем привет!!! Влёна тебе тоже хэллоу и классного настроения всем прибывшим сюда !!</div>
            </div>
         </div>
      </div>
   </div>
</div>
